---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        
        <h3 class="no-space-bottom">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <div class="text-muted">
          <small datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ post.date | date: "%b %-d, %Y" }}
          {% if post.author %}
           • 
          {{ post.author }}
          {% endif %}
          {% if post.tags.size > 0 %}
           • 
            {% for tag in post.tags %}
            <span class="badge">{{ tag }}</span>
            {% endfor %}
          {% endif %}
          </small>
        </div>

        <p>{{ post.excerpt }}</p>
      </li>
    {% endfor %}
  </ul>

</div>
