---
layout: default
---

<ul>
  {% for post in site.posts %}
    <li class="mb-8">
      <h2>
        <a href="{{ post.url | prepend: site.baseurl }}" class="text-green-400 font-bungee text-2xl">{{ post.title }}</a>
      </h2>

      <div>
        <small
          class="flex items-center gap-2.5"
          datetime="{{ post.date | date_to_xmlschema }}"
          itemprop="datePublished"
        >
          {% if post.tags.size > 0 %}
            <div class="flex gap-1">
            {% for tag in post.tags %}
            {% include tag.html text=tag %}
            {% endfor %}
            </div>
          {% endif %}

          {{ post.date | date: "%b %-d, %Y" }}

          <div class="flex gap-1">
            {% if post.githubUrl %}
            <span class="material-icons" title="Has source code">
              source
            </span>
            {% endif %}
            {% if post.stackblitzUrl %}
            <span class="material-icons" title="Has interactive code example">
              code
            </span>
            {% endif %}
            {% if post.youtubeId %}
            <span class="material-icons-outlined" title="Has video">
              ondemand_video
            </span>
            {% endif %}          
          </div>
        </small>
      </div>

      <p>{{ post.excerpt }}</p>
    </li>
  {% endfor %}
</ul>

