{% if include.type == "info" %}
    {% assign wrapperClass = "bg-blue-700" %}
    {% assign iconClass = "info" %}
{% elsif include.type == "warning" %}
    {% assign wrapperClass = "bg-yellow-700" %}
    {% assign iconClass = "warning" %}
{% elsif include.type == "success" %}
    {% assign wrapperClass = "bg-green-700" %}
    {% assign iconClass = "check" %}
{% elsif include.type == "danger" %}
    {% assign wrapperClass = "bg-red-700" %}
    {% assign iconClass = "times" %}
{% else %}
    {% assign wrapperClass = "bg-blue-700" %}
    {% assign iconClass = "info" %}
{% endif %}

<div class="p-3 rounded-lg inline-flex items-center gap-1.5 my-2 {{ wrapperClass }}" role="alert">
    <span class="material-icons-outlined">{{iconClass}}</span> {{ include.text }}
</div>