/**
* CHRIS CHANGES
*/

.post-list{
    h3 {
        margin-top: 0;
        margin-bottom: 7px;
    }
} 

.post-header {
    h2 {
        margin-top: 0;
    }
}

.post-content {
    h3 {
        margin: 30px 0 12px;
        padding-bottom: 5px;
        border-bottom: 1px solid #e8e8e8;
        color: darken($brand-color, 5%);
    }

    h4 {
        margin-top: 20px;
    }
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.navbar {
    margin-bottom: 0;
    
    &.navbar-default {
        background-color: white;
    }
}

.navbar-toggle {
    margin-top: 13px;
    margin-bottom: 13px;
}

#logo-img {
    margin-top: -13px;
    float: left;
}

#logo-text {
    float: left;
    vertical-align: middle;
    margin: 7px 14px 0;
}

.tag {
    border-width: 1px;
    border-style: solid;
    margin-top: -3px;
    padding-top: 2px;
}

.text-muted {
    i.fa {
        font-size: 18px;
    }
}

code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}



/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    text-align: center;
    background-color: white;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list {
    list-style: none;
    padding-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}


/**		
* Posts		
*/		
.post-header {
    
    margin-bottom: 25px;
    		
    .post-basic-info {		
        border-top: 1px solid $grey-color-light;		
        border-bottom: 1px solid $grey-color-light;		
        padding: 3px 0;		
    }		
}

.external-links {
    background-color: #f5f5f5;
    border-left-color: #4580C0;

    .github-link + .youtube-video {
        margin-top: 15px;
    }
}