---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">

  <header>
	<h2 class="text-green-300 font-bungee text-3xl">{{ page.title }}</h2>

    <div>
      <small class="flex items-center gap-2.5" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% if page.tags.size > 0 %}
          <div class="flex gap-1">
          {% for tag in page.tags %}
          {% include tag.html text=tag %}
          {% endfor %}
          </div>
        {% endif %}
            
        {{ page.date | date: "%b %-d, %Y" }}

        <div class="flex gap-1">
          {% if page.githubUrl %}
          <span class="material-icons" title="Has source code">
            source
          </span>
          {% endif %}
          {% if page.stackblitzUrl %}
          <span class="material-icons" title="Has interactive code example">
            code
          </span>
          {% endif %}
          {% if page.youtubeId %}
          <span class="material-icons-outlined" title="Has video">
            ondemand_video
          </span>
          {% endif %}          
        </div>
    	
    	</small>
    </div>
  </header>

	
  {% if page.githubUrl or page.stackblitzUrl or page.youtubeId %}
    <div class="bg-neutral-700 flex flex-col p-3 rounded-lg gap-1 mb-7">
      {% if page.githubUrl %}
      <a href="{{ page.githubUrl }}" target="_blank" class="inline-flex items-center gap-1.5">
        <span class="material-icons">source</span><span>Source Code</span>
      </a>
      {% endif %}
  
      {% if page.stackblitzUrl %}
      <a href="{{ page.stackblitzUrl }}" target="_blank" class="inline-flex items-center gap-1.5">
        <span class="material-icons">code</span><span>Interactive Code Example</span>
      </a>
      {% endif %}
    
      {% if page.youtubeId %}
      <a href="https://www.youtube.com/watch?v={{ page.youtubeId }}" target="_blank" class="inline-flex items-center gap-1.5">
        <span class="material-icons">ondemand_video</span><span>Video</span>
      </a>
      {% endif %}
    </div>
  {% endif %}

  <div itemprop="articleBody">

    {{ content }}
  </div>

  {% include disqus.html %}

</article>
