---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
	<h2>{{ page.title }}</h2>

    <p class="text-muted post-basic-info">
    	<small datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
		{{ page.date | date: "%b %-d, %Y" }}
			{% if page.githubUrl %}
				• 
			<i class="fa fa-github" title="Has source code"></i>
			{% endif %}
			{% if page.youtubeId %}
				• 
			<i class="fa fa-youtube" title="Has YouTube video"></i>
			{% endif %}
    	{% if page.tags.size > 0 %}
    	 • 
    	 	{% for tag in page.tags %}
	    	<span class="tag badge alert-info">{{ tag }}</span>
	    	{% endfor %}
    	{% endif %}
    	</small>
    </p>
  </header>

	{% if page.githubUrl %}
	<blockquote class="external-links">
		{% include github.html %}
	</blockquote>
	{% endif %}

	{% if page.youtubeId %}
	<blockquote class="external-links">
			{% include youtube.html %}
	</blockquote>
	{% endif %}

	

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% include disqus.html %}

</article>
